.footer {
  height: 10rem;
  background-color: white;
  display: flex;
  padding: 1rem;
  border-top: 4px solid #333;
  justify-content: center;
  gap: 15rem;
}

.footer > * {
  display: flex;
  flex-direction: column;
}

.footer-company {
  text-align: center;
}

.logo-footer {
  width: 6rem;
  height: auto;
  margin: 0 auto;
}

.footer-nav li {
  list-style: none;
  padding-bottom: 2rem;
}

.footer-socials a {
  padding-bottom: 0.75rem;
}
